POSTGRES_USER=tss
POSTGRES_PASSWORD=A9#kP2!xZ8@qL!2
POSTGRES_DB=tssdb

REDIS_HOST=tss-redis
REDIS_PORT=6379
REDIS_PASSWORD=A9#kP2!xZ8@qL!2

# Redis runtime
REDIS_HISTORY_RETENTION_MINUTES=10
DISABLE_LOGGER_PERSISTENCE=false


AUTO_EVENT_START_ENABLED=false
AUTO_FIRST_RACE_START_ENABLED=false

TSS_WEIGHING_TOKEN='cV14ShRk9wx5x3fTsHRQStr60SbqD0cc'
TSS_WEIGHING_ALLOWED_ORIGINS='http://localhost:4200,http://43.229.135.137/'
