<h1 mat-dialog-title class="text-center">
  ตั้งค่า AFR Config
</h1>

<mat-dialog-content>
        <div class="card card-bg-transparen">
          <div class="card-body">
            <div class="row">
              <div class="col-12">

                <div class="slider-label-container">
                  <label id="slider-name-label" class="slider-name-label">Count Max</label>
                  <label class="slider-value-label">{{countMax}}</label>
                </div>
                <mat-slider
                    class="slider-margin"
                    [max]="CountMaxSlider"
                    [min]="CountMinSlider"
                    [step]="CountStepSlider"
                    [discrete]="CountThumbLabelSlider"
                    [showTickMarks]="CountShowTicksSlider">
                  <input matSliderThumb [(ngModel)]="countMax" #sliderMax>
                </mat-slider>


              </div>
              <div class="col-12">
                <!-- <form class="mat-input-form">
                  <mat-form-field class="w-100">
                  <mat-label>AFR Limit</mat-label>
                    <input matInput class="text-center" [ngModelOptions]="{standalone: true}" [(ngModel)]="afrLimit">
                  </mat-form-field>
                </form> -->

                <div class="slider-label-container">
                  <label id="slider-name-label" class="slider-name-label">AFR Limit</label>
                  <label class="slider-value-label">{{afrLimit}}</label>
                </div>
                <mat-slider
                    class="slider-margin"
                    [max]="LimitMaxSlider"
                    [min]="LimitMinSlider"
                    [step]="LimitStepSlider"
                    [discrete]="LimitThumbLabelSlider"
                    [showTickMarks]="LimitShowTicksSlider">
                  <input matSliderThumb [(ngModel)]="afrLimit" #sliderLimit>
                </mat-slider>

              </div>

              <div class="col-12">
                <div class="slider-label-container">
                  <label id="slider-name-label" class="slider-name-label">AFR (Graphs)</label>
                  <label class="slider-value-label">{{afrGraphsMinLimit}} - {{afrGraphsMaxLimit}}</label>
                </div>
                <mat-slider
                    class="slider-margin"
                    [max]="LimitGraphsMaxSlider"
                    [min]="LimitGraphsMinSlider"
                    [step]="LimitGraphsStepSlider"
                    [discrete]="LimitGraphsThumbLabelSlider"
                    [showTickMarks]="LimitGraphsShowTicksSlider">

                  <input [(ngModel)]="afrGraphsMinLimit" matSliderStartThumb #sliderGraphLimitMin>
                  <input [(ngModel)]="afrGraphsMaxLimit" matSliderEndThumb #sliderGraphLimitMax>

                </mat-slider>

              </div>

              <!-- <div class="col-4">
                <mat-card class="zone zone-picker">
                    <mat-form-field>
                        <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
                        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                        <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
                    </mat-form-field>
                </mat-card>
              </div> -->

            </div>
          </div>
        </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-center mt-2">
  <button type="button" class="btn btn-danger" matButton mat-dialog-close>ยกเลิก</button>
  <button type="button" class="btn btn-success ms-2"   matButton cdkFocusInitial (click)="submitUpdateConfig()">ยืนยัน</button>
</mat-dialog-actions>

