button {
  margin-right: 8px;
}

.card-bg-transparen {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}


.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

p {
  font-family: Lato;
}
